# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
.ruff_cache/
uv.lock
results/
.humanize/
.humanize/
trae_output/
sglang_omni/models/qwen3_asr/
tests/test_qwen3_omni_thinker_eagle/tiny-qwen3-omni/
tests/test_qwen3_omni_thinker_eagle/tiny-qwen3-omni-draft/
